@import './styles/variables.scss';
@import './styles/reset.scss';
@import './styles/responseButton.scss';
@import './styles/buttons.scss';
@import './styles/popup.scss';
@import './styles/timer.scss';

body {
    font-family     : "Urbanist";
    font-weight     : 600;
    background-color: rgb(25, 36, 97);
    height          : 100vh;

}

.game-interval {
    width          : 100%;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: start;
}

.game-interval__header {
    width           : 100%;
    height          : 100px;
    display         : flex;
    justify-content : space-around;
    align-items     : center;
    background-color: #fff;
}